<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1><%- markdownWiki.title %></h1>
      <% if(currentUser) { %>
      <a href="/wikis/<%- markdownWiki.id %>/edit" class="btn btn-warning"
        >Edit</a
      >
      <form
        style="display:initial"
        action="/wikis/<%- markdownWiki.id %>/destroy"
        method="POST"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
      <p><%- markdownWiki.body %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
